<link rel="stylesheet" type="text/css" href="/style.css">
<div align="center">

  <h1>(<%=$player1.hit_points%> Hit Points) <%=$player1.name%> vs. <%=$player2.name%> (<%=$player2.hit_points%> Hit Points)</h1>
  <h2>VICIOUS STRIKE BY PLAYER 1!</h2>

  <form action="/attack">
    <button type="submit">ATTACK!</button>
  </form>

</div>