<link rel="stylesheet" type="text/css" href="/style.css">
<div align="center">

  <h1><%=@player1%> vs. <%=@player2%> (100 Hit Points)</h1>
  <h2>VICIOUS STRIKE BY PLAYER 1!</h2>

  <form action="/play" method="post">
    <button type="submit">ATTACK!</button>
  </form>

</div>